/* Clear Button */

.vs__clear {
  font-size: 23px * $vs-controls-size;
  font-weight: 700;
  line-height: 1;
  color: $vs-controls-color;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 6px;
}
