/* Dropdown Menu */

$border-width: $vs-border-width;
$border-style: solid;
$border-color: $vs-border-color;
$border-radius: $vs-border-radius;
$box-shadow: $vs-dropdown-box-shadow;

$bg-color: $vs-dropdown-bg;
$z-index: $vs-dropdown-z-index;
$min-width: $vs-dropdown-min-width;
$max-height: $vs-dropdown-max-height;

.vs__dropdown-menu {
  display: block;
  position: absolute;
  top: calc(100% - 1px); // -1px here ensures rounded borders appear straight
  left: 0;
  z-index: $z-index;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  max-height: $max-height;
  min-width: $min-width;
  overflow-y: auto;
  box-shadow: $box-shadow;
  border: $border-width $border-style $border-color;
  border-top-style: none;
  border-radius: 0 0 $border-radius $border-radius;
  text-align: left;
  list-style: none;
  background: $bg-color;
}

.vs__no-options {
  text-align: center;
}
