/**

  Open Indicator

  The open indicator appears as a down facing
  arrow on the right side of the select.

 */

$transition-timing-function: cubic-bezier(1.000, -0.115, 0.975, 0.855);
$transition-duration: 150ms;

$open-indicator-color: $vs-controls-color;
$open-indicator-size: $vs-controls-size;

.vs__open-indicator {
  display: flex;
  width: 12px * $open-indicator-size; /* To account for extra width from rotating. */
  align-items: center;
  cursor: pointer;
  pointer-events: all;
  transition: all $transition-duration $transition-timing-function;
  transition-timing-function: $transition-timing-function;
  opacity: 1;

  &::before {
    display: inline-block;
    height: 10px * $open-indicator-size;
    width: 10px * $open-indicator-size;
    border-color: $open-indicator-color;
    border-style: solid;
    border-width: 3px * $open-indicator-size 3px * $open-indicator-size 0 0;
    content: '';
    vertical-align: text-top;
    transform: rotate(133deg);
    transition: transform $transition-duration $transition-timing-function;
    transition-timing-function: $transition-timing-function;
    box-sizing: inherit;
  }
}

/**
    Open State
 */

.vs--open .vs__open-indicator:before {
  transform: rotate(315deg);
}

/**
    Loading State
 */

.vs--loading .vs__open-indicator {
  opacity: 0;
}
