/* Selected Tags */
.vs__selected {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: $vs-border-radius;
  color: #333;
  line-height: 1.42857143; /* Normalize line height */
  margin: 4px 2px 0px 2px;
  padding: 0 0.25em;
  transition: opacity .25s;
}

.vs__selected .close {
  margin-left: 2px;
  font-size: 1.25em;
  appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

/**
    States
 */

.vs--single {
  .vs__selected {
    background-color: transparent;
    border-color: transparent;
  }
  &.vs--open .vs__selected {
    position: absolute;
    opacity: .4;
  }
  &.vs--searching .vs__selected {
    display: none;
  }
}
